<a href="https://colab.research.google.com/github/nikmahadeshwar/18June/blob/main/ETL_challlenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("201908-citibike-tripdata.csv.zip")
df

         tripduration                 starttime  ... birth year  gender
0                 393  2019-08-01 00:00:01.4680  ...       1996       2
1                 627  2019-08-01 00:00:01.9290  ...       1998       2
2                1132  2019-08-01 00:00:04.0480  ...       1988       1
3                1780  2019-08-01 00:00:04.1630  ...       1988       1
4                1517  2019-08-01 00:00:05.4580  ...       1965       2
...               ...                       ...  ...        ...     ...
2344219           216  2019-08-31 23:59:46.2930  ...       1972       1
2344220           117  2019-08-31 23:59:47.7970  ...       1982       2
2344221          1614  2019-08-31 23:59:48.1560  ...       1969       0
2344222          1301  2019-08-31 23:59:58.3620  ...       1969       0
2344223           419  2019-08-31 23:59:59.4520  ...       1994       1

[2344224 rows x 15 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 268.3+ MB

In [ ]:
df.tripduration = pd.to_datetime(df.tripduration, unit = "s")
df

               tripduration                 starttime  ... birth year  gender
0       1970-01-01 00:06:33  2019-08-01 00:00:01.4680  ...       1996       2
1       1970-01-01 00:10:27  2019-08-01 00:00:01.9290  ...       1998       2
2       1970-01-01 00:18:52  2019-08-01 00:00:04.0480  ...       1988       1
3       1970-01-01 00:29:40  2019-08-01 00:00:04.1630  ...       1988       1
4       1970-01-01 00:25:17  2019-08-01 00:00:05.4580  ...       1965       2
...                     ...                       ...  ...        ...     ...
2344219 1970-01-01 00:03:36  2019-08-31 23:59:46.2930  ...       1972       1
2344220 1970-01-01 00:01:57  2019-08-31 23:59:47.7970  ...       1982       2
2344221 1970-01-01 00:26:54  2019-08-31 23:59:48.1560  ...       1969       0
2344222 1970-01-01 00:21:41  2019-08-31 23:59:58.3620  ...       1969       0
2344223 1970-01-01 00:06:59  2019-08-31 23:59:59.4520  ...       1994       1

[2344224 rows x 15 columns]

In [ ]:
df.to_csv("bike.csv", index=False)